doctype html
html
  head
    title Asynchronous Universal Component Rendering
    meta(charset="utf-8")
    link(rel="stylesheet" href="public/styles.css")

  body
    textarea(id="source")= slides

    script(src="https://gnab.github.io/remark/downloads/remark-latest.min.js")
    script.
      window.remark || document.write('<script src="public/remark.js"><\/script>')
    script.
      var slideshow = remark.create({
        ratio: "16:9",
        navigation: {
          scroll: false
        },
        highlightLanguage: 'javascript',
        highlightStyle: 'monokai',
        slideNumberFormat: function (current, total) {
          return null;
        }
      });
